{{#resume.basics}}
	<section class="resume-header bg-icon-plane">
		<div class="container">
			<div class="row">
				<div class="col-8 mx-md-auto">
					<h1>{{name}}</h1>

					<p class="subtitle">{{ label }}</p>

					{{#if picture}}
						<img src="{{ picture }}" alt="{{ name }}" class="user_profile">
					{{/if}}

					{{#if profiles}}
						<ul class="social">
							{{#each profiles}}
								<li class="{{ network }}">
									<a href="{{ url }}" target="_blank" title="{{ username }} on {{ network }}">
										<i class="fab fa-{{ network }}"></i>
									</a>
								</li>
							{{/each}}
						</ul>
					{{/if}}
				</div>
			</div>
		</div>
	</section>

	<section class="contactBar">
		<div class="container">
			<div class="row contacts">
				{{#if website}}
					<div class="col-md">
						<span>
							<i class="fas fa-link contactIcon"></i>
						</span>

						<p>
							<a href="{{ website }}"> {{ website }}</a>
						</p>
					</div>
				{{/if}}

				{{#if email}}
					<div class="col-md">
						<span>
							<i class="fas fa-envelope-open contactIcon"></i>
						</span>

						<p>
							<a href="{{ email }}"> {{ email }}</a>
						</p>
					</div>
				{{/if}}

				{{#if computed_location}}
					<div class="col-md">
						<span>
							<i class="fas fa-map-marker-alt contactIcon"></i>
						</span>

						<p>
							<a href="{{ computed_location }}"> {{ computed_location }}</a>
						</p>
					</div>
				{{/if}}
			</div>
		</div>
	</section>

	<section id="about-me">
		<div class="container">
			<header class="section-heading p-t-40">
				<h2>About</h2>
				{{{ summary }}}
			</header>
		</div>
	</section>
{{/resume.basics}}